<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}


<!-- Название у нас будет Product -->
{% block title %}
    Article
{% endblock title %}


<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}


   <h1>новость</h1>
   <hr>
   <hr>
   {% if article %}
       <table>
           <tr>
              <td>Автор</td>
                <td>Дата публикации</td>
                <td>Категория новости</td>
                <td>Тема</td>
                {#Условие получается составным. #}
                {% if perms.NEWS.change_post or perms.NEWS.delete_post %}
                <td>Основной текст</td>
                <td>Рейтинг</td>
           </tr>

           {% for article in articles %}
           <tr>
              <td>{{ article.author }}</td>
                <td>{{ article.dataCreation}}</td>
                <td>{{ article.title}}</td>
                <td>{{ article.categoryType }}</td>
                <td>{{ article.text|truncatewords:2 |censor }}</td>
                <td>{{ article.rating }}</td>
           </tr>

            {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
        {% endif %}




{{ post_detail }}
{% endblock content %}
