<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}


<!-- Название у нас будет Product -->
{% block title %}
    Search
{% endblock title %}


<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}


   <h1>Все новости</h1>
    <form action="" method="get" >
        {{ filterset.form.non_field_errors }}

        {{ filterset.form.title__icontains.errors }}
        <label for="{{ filterset.form.title__icontains.id_for_label }}">Search</label>
        <input
            id="{{ filterset.form.title__icontains.id_for_label }}"
            name="{{ filterset.form.title__icontains.name }}"
            value="{{ filterset.form.title__icontains.value }}"
            class="form-control"
        >
        <input type="submit" class="mt-3 btn-primary" value="Найти" />
    </form>

   <hr>
   {% if searches %}
       <table>
           <tr>
                <td>Автор</td>
                <td>Дата публикации</td>
                <td>Категория новости</td>
                <td>Тема</td>
                {#Условие получается составным. #}
                {% if perms.NEWS.change_post or perms.NEWS.delete_post %}
                <td>Основной текст</td>
                <td>Рейтинг</td>
           </tr>

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->
           {% for search in searches %}
           <tr>
                <td>{{ search.author }}</td>
                <td>{{ search.dataCreation}}</td>
                <td>{{ search.title}}</td>
                <td>{{ search.categoryType }}</td>
                <td>{{ search.text|truncatewords:2 |censor }}</td>
                <td>{{ search.rating }}</td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
      {% endif %}





{{ post_detail }}
{% endblock content %}
